<h1>Bienvenido</h1>

<p>
  Selecciona una de las siguientes opciones:
</p>

<ul>
  <li><%= link_to "Películas", movies_path %></li>
  <li><%= link_to "Series", series_index_path %></li>
  <li><%= link_to "Documentales", documentary_films_path %></li>
</ul>
